.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 460px;
  margin: 0 auto;
  margin-bottom: var(--mb-2-4);
}
.Header-title {
  font-size: 1.25rem;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  letter-spacing: 6px;
  color: white;
}
.Header-icon {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .Header-title {
    font-size: 1.75rem;
  }
}
