.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--mb-2-4);
}
.Header-title {
  font-size: 1.25rem;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  letter-spacing: 6px;
  color: white;
}
