.TodoItem-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 12px;
  padding: 4px 12px;
  min-height: 52px;
  border-bottom: 1px solid var(--very-dark-grayish-blue);
  background-color: var(--very-darker-grayish-blue);
  color: var(--light-grayish-blue);
}
.TodoItem-container--dark {
  border-bottom: 1px solid var(--light-grayish-blue);
  background-color: var(--very-light-gray);
  color: var(--very-dark-grayish-blue);
}
.TodoItem:first-child .TodoItem-container {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.TodoItem-check {
  cursor: pointer;
  transition: 0.3s;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid var(--dark-grayish-blue);
}
.TodoItem-checked {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.TodoItem-text {
  font-size: 0.875rem;
}
.TodoItem-text-completed {
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
}
.TodoItem-close {
  display: none;
  cursor: pointer;
}
.TodoItem-container:hover .TodoItem-close {
  display: block;
}
