.TodoFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  height: 52px;
  margin-top: 18px;
  border-radius: 4px;
  background: var(--very-darker-grayish-blue);
}
.TodoFilter-button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 4px;
  font-weight: var(--font-bold);
  color: var(--dark-grayish-blue);
}
.TodoFilter-button:hover {
  color: var(--light-grayish-blue);
}
.TodoFilter-active {
  color: var(--bright-blue);
}
@media screen and (min-width: 768px) {
  .TodoFilter {
    position: absolute;
    width: 100px;
    left: 38%;
    right: 0;
    bottom: 0;
  }
}
