.App {
  transition: 0.3s;
  width: 100%;
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px 12px 0 12px;
  background-image: url(./assets/images/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-color: var(--very-dark-blue);
}
.App-dark {
  background-image: url(./assets/images/bg-mobile-light.jpg);
  background-color: var(--light-grayish-blue);
}
@media screen and (min-width: 768px) {
  .App {
    max-width: 500px;
    padding-top: 64px;
    background-image: none;
    background-color: transparent;
  }
}
